$main-bg: rgb(255, 117, 6);

$txt-main-color: #000;
$txt-white: #fff;

$btn-main-bg: rgb(255, 117, 6);

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;
