* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100% !important;
  @include tablet {
    font-size: 80% !important;
  }
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
:focus {
  outline: 0;
}
input:focus {
  color: #111;
}
input,
select {
  outline: none;
}
img {
  max-width: 100%;
  object-fit: cover;
  @include mobile {
    max-width: 100%;
  }
}
.error {
  display: block;
  color: rgb(233, 42, 42);
  margin-bottom: 10px;
}
