.css-1omvlcf {
  > div:last-child {
    border-bottom-width: 0;
  }
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc89b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.4;
}
.isLayoutChange {
  transform: translateX(-40%);
}
